.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: white;
}

.title-label {
  font-family: System-Bold;
  fill: white;
  text-anchor: middle;
  text-length: 32;
  font-size: 30;
}

.sensor-label {
  font-family: System-Regular;
  fill: white;
  text-anchor: middle;
  text-length: 32;
  font-size: 30;
}

.sensor-data {
  font-family: System-Light;
  fill: yellow;
  text-anchor: middle;
  text-length: 32;
  font-size: 30;
}

.time-text {
  font-family: System-Light;
  fill: white;
  text-anchor: middle;
  text-length: 32;
  font-size: 60;
}
